/************** css reset start *****************/
body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
figure {
	margin: 0;
}
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
h4 {
	font-weight: normal;
}
img {
	vertical-align: middle;
}
a {
	text-decoration: none;
}
input:focus,
textarea:focus {
	outline: none;
} 
html, body {
	height: 100%;
}
/************** css reset end *****************/

* {
	outline: none;
	box-sizing: border-box;
}
body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 16px;
	color: #444;
}
::-webkit-scrollbar {
	width: 0;
}